@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body {
    background-color: #eef9be;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: rgb(117, 183, 158);
    text-align: center;
    text-transform: uppercase;
    font-size: 3.25em;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin: 40px auto;
} 


.tempo {
    z-index: 10;
    width: 125px;
    height: 55px;
    background-color: #75B79E;
    color: white;
    position: fixed;
    right: 0;
    top: 40px;
    border-radius: 5px 0px 0 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
    border: 1px solid rgba(0, 0, 0, 0.432);
}
.tempo .vermelho {
    color: #f00;
}

.tempo span {
    font-family: 'Orbitron', sans-serif;
    color: #eef9be;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.58);
    font-size: 50px;
    text-align: center;
    margin: auto;
    font-weight: 600;
}


main {
    align-items: center;
    text-align: center;
}

.game-zone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    
}

#carta {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
    transform-style: preserve-3d;
    width: 117px;
    height: 146px;
    margin: 30px;
    transition: all .5s;
}

.face {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.216) 0px 0px 5px;
    width: 117px;
    height: 146px;
    border: 1px solid rgb(153, 206, 168);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#front {
    background-color: #A7E9AF;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
#front img{
    width: 100px;
    height: 100px;
}


#back {
    background-color: #A7E9AF;
    backface-visibility: hidden;
    background-image: url('img/front.png');
    background-position: 50% center;
    background-size: 100px;
    background-repeat: no-repeat;
}
#back img{
    width: 100px;
    height: 100px;
}

.giro {
    transform: rotateY(180deg);
}


@media (max-width:350px) {
    
    h1 { 
        font-size: 2.25em;
    }
    main > div{
        width: 100vw;
        
    }

}
