body {
    background-color: rgb(238, 249, 191);
}

h1 {
    color: rgb(117, 183, 158);
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

.game-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: 0px auto;
}

.game-zone li {
    cursor: pointer;
    background-color: rgb(167, 233, 175);
    width: 117px;
    height: 146px;
    background-image: url(img/front.png);
    background-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.216) 0px 0px 5px;
    margin: 24px;
    background-position: 50% center;
    background-repeat: no-repeat;
    list-style: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 206, 168);
    border-image: initial;
}